<template>
  <div class="header">
     <Menu/>
  </div>
 
</template>

<script>
import Menu from "./Menu"

export default {
  name: "Background",
  components: {
    Menu
  },
};
</script>

<style scoped>
  .header{
    /*display: flex;
    justify-content: space-between;
    align-items: center;
    height: 154px;*/
    background-color: #000;
  }
</style>