<template>
  <div class="image">
    <div class="image__text">
      <div class="header__text">Blumen sind das Lächeln der Erde.</div>
      <div class="main__text">Ralph Waldo Emerson</div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.image {
      background-image: url(https://www.blumen-ambiente.eu/wp-content/uploads/2016/05/crocus-318293_1920x1080-uai-1440x810.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
   
}
.image__text{
  height: 595px;
  padding: 36px;
  vertical-align: middle;
}
</style>