<template>
  <div class="header__inner">
    <div class="header__logo">
      <a href="#">
        <img src="../images/header_logo.png" alt="" />
      </a>
    </div>
    <div class="header__menu">
      <ul>
        <li><a href="#">Hochzeit</a></li>
        <li><a href="#">Trauerfloristik</a></li>
        <li><a href="#">Wohnambiente</a></li>
        <li><a href="#">Advent</a></li>
        <li><a href="#">Kontakt & Anfahrt</a></li>
        <li><a href="#">Impressum</a></li>
        <li><a href="#">Datenschutz</a></li>
      </ul>
    </div>
    <div class="right__space"></div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 154px;
  padding: 0 36px;
}
.header__logo {
  height: 100px;
  margin: 27px 36px 27px 0;
}

.header__logo img {
  width: 340px;
  height: 100px;
  max-width: 100%;
  vertical-align: middle;
}

.header_menu{
  margin: 0 13px;
}

.header__menu li{
  display: inline-block;
  margin-right: 28px;
}
.header__menu a{
  font-size: 12px;
  color: #fff;
}
.right__space{
  width: 100px;
}
</style>

