<template>
  <div id="app">
    <Background/>
    <Image/>
  </div>
</template>

<script>

import Background from "./components/Background"
import Image from "./components/Image"

export default {
  name: "App",
  components: {
    Background,
    Image
   
  },
};
</script>

<style>
html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
 /*display: inline-block;*/
  text-decoration: none;
}
</style>
